/* ----- NAVIGATION BAR -----*/
.Custom_Website_Logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 15px;
}

header {
  background-color: #293032;
}
li {
  list-style: none;
}
.brand-name {
  color: white;
  font-family: "Signika", sans-serif;
  font-weight: bold;
}

.pages {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-branding {
  font-size: 2rem;
}
.nav-menu {
  display: flex;
  align-items: right;
  gap: 60px;
  justify-content: right;
  margin-right: 100px;
}
.nav-link {
  transition: 0.3s ease-out;
  color: #fff;
}
.nav-link:hover {
  color: rgb(149, 151, 151);
}
.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 50px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-bottom: 20px;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

.page-active {
  text-decoration: underline #02a0e0 3px;
  text-underline-offset: 10px;
}

.Custom_Accessibility-Icon {
  width: 30px;
  height: 30px;
}

.acsessibility-btn {
  background-color: #00bf63;
  margin-top: 10px;
}

.acsessibility-btn:hover {
  background-color: #00bf63;
}

.dyslexia {
  font-family: "OpenDyslexic3Regular";
}

.font-size {
  font-size: 150%;
}

/* -------------- */