.navbar {
  background-color: #25292a;
}

.custom_Website_Logo {
  width: 56px;
  height: 56px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 50px;
  padding: 0px 0px 0px 0px;
}

.brand-name {
  margin-left: 52px;
  color: white;
}
