/* ----- NAVIGATION BAR -----*/
.Custom_Website_Logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 15px;
}

header {
  background-color: #293032;
}
li {
  list-style: none;
}
.brand-name {
  color: white;
  font-family: "Signika", sans-serif;
  font-weight: bold;
}

.pages {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-branding {
  font-size: 2rem;
}
.nav-menu {
  display: flex;
  align-items: right;
  gap: 60px;
  justify-content: right;
  margin-right: 50px;
}
.nav-link {
  transition: 0.3s ease-out;
  color: #fff;
}
.nav-link:hover {
  color: rgb(149, 151, 151);
}
.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 50px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-bottom: 20px;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

.Custom_Accessibility-Icon {
  width: 30px;
  height: 30px;
}

.acsessibility-btn {
  background-color: #00bf63;
  margin-top: 10px;
  border-radius: 80px;
}

.acsessibility-btn:hover {
  background-color: #00bf63;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
/* -------------- */

/* FOOTER */

.footer {
  background-color: #545454;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  width: 100%;
  color: #fff;
  padding: 0px;
}

.footer-logo {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: 0px;
  padding-right: 0px;
  float: right;
}

.footer-center-col {
  text-align: center;
}

.footer-contacts {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.footer-contacts:hover {
  color: #e0dddd;
  text-decoration: none;
}

.footer-contact-list {
  text-align: left;
  float: left;
  margin-top: 10px;
}
/* -------------- */

/*  PARALEX HERO BANNER */

.hero-banner {
  width: 100%;
  height: 100%;
  margin-top: 98px;
  margin-bottom: 10px;
}

/* -------------- */

/* HOME PAGE */

.colum-home-1 {
  border-style: dotted;
  border-width: 10px;
  border-top: #02a0e0;
  margin: 5px;
  padding: 10px;
  margin-top: 30px;
  border-right: #02a0e0;
  border-color: #02a0e0;
}

.colum-home-1-text {
  text-align: left;
  margin: 10px;
}

.colum-home-1-text-font {
  font-family: "Montserrat", sans-serif;
}

.home-img1 {
  width: 300px;
  height: 300px;
  float: right;
  margin: 5px;
}

h1 {
  color: #0269ad;
  text-align: left;
  font-weight: bold;
  font-size: 60px;
}

.h1-one {
  text-align: left;
}

.header-one {
  margin-left: 5px;
  margin-bottom: 70px;
}

.home-header-one-font {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 900px) {
  .colum-home-1 {
    border-style: none;
  }
}

.header-background-1 {
  background-image: url(/static/images/header-background.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px;
}

.header-background-2 {
  background-image: url(/static/images/header-background.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px;
}

.h1-2 {
  text-align: right;
}

.header-two {
  margin-right: 5px;
}

.home-header-two-font {
  font-family: "Montserrat", sans-serif;
}

.colum-home-2-text {
  text-align: right;
  margin: 10px;
}

.colum-home-2-text-font {
  font-family: "Montserrat", sans-serif;
}

.home-img2 {
  width: 300px;
  height: 300px;
  float: left;
  margin: 5px;
}

.section-text {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* --- CONTACT --- */

.colum-contact-1 {
  border-style: dotted;
  border-width: 10px;
  margin: 5px;
  padding: 10px;
  margin-top: 30px;
  border-right: #02a0e0;
  border-color: #02a0e0;
  border-top: #fff;
  border-bottom: #fff;
}

@media (max-width: 900px) {
  .colum-contact-1 {
    border-style: none;
  }
}

.colum-contact-1-text {
  text-align: left;
  margin: 10px;
}

.colum-contact-1-text-font {
  font-family: "Montserrat", sans-serif;
}

.contact-img1 {
  width: 450px;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20spx;
}

.contact-header-one-font {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.contact-page-list {
  color: #000000;
  text-decoration: none;
}

.contact-page-list:hover {
  color: #262626;
}

.contact-icons {
  color: #02a0e0;
}

.contact-form-1 {
  background-color: #293032;
}

.contact-form-2 {
  background-color: #02a0e0;
}

.contact-form-header {
  float: right;
  color: #03568d;
  font-family: "Montserrat", sans-serif, bold;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 30%;
  text-align: right;
}

input {
  float: right;
  margin-right: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  margin-left: 30%;
  width: 300px;
}

textarea {
  float: right;
  margin-right: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  border: none;
  width: 300px;
}

.submit-btn {
  background-color: #7ed957;
  color: #255e0c;
  font-family: "Montserrat", sans-serif;
  border-color: none;
  margin-left: 30%;
  float: right;
  margin-right: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  textarea {
    width: 150px;
  }
  input {
    width: 150px;
  }
}

.submit-btn:hover {
  background-color: #52a52e;
}

.contact-form-image {
  background-image: url(/static/images/contact-form-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #02a0e0;
}

.contact-form-header-left {
  color: #e0dddd;
  font-family: "Montserrat", sans-serif, bold;
  font-weight: bold;
  float: left;
  margin-left: 10px;
  font-size: 50px;
  margin-top: 50px;
}

@media (max-width: 900px) {
  .contact-form-header-left {
    font-size: 20px;
  }
}

.contact-arrow-img {
  width: 50%;
  float: right;
}

.contact1-form-btn{
  border: none;
  border-style: none;
  border-radius: 5px;
  padding: 5px;
}

.input1{
  padding: 5px;
}
/* --- EDUCATION PAGE --- */

.education-container {
  font-family: "Montserrat", sans-serif;
}

.h3-1 {
  color: #0269ad;
  font-weight: bold;
  font-size: 30px;
}

.h3-2 {
  color: #03568d;
  font-weight: bold;
  font-size: 30px;
}

.h3-3 {
  color: #4b086b;
  font-weight: bold;
  font-size: 30px;
}

.education-row-1 {
  background-color: white;
}

.education-row-1-text {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin: 20px;
}

.education-row-1-img {
  float: bottom;
  float: right;
  width: 80%;
  margin-right: 20px;
}

.education-row-2 {
  background-color: #03befa;
}

.education-row-2-text {
  text-align: right;
  margin-right: 20px;
  margin-left: 20px;
  margin: 20px;
}

.education-row-2-img {
  float: bottom;
  float: left;
  width: 80%;
}

.education-row-3 {
  background-color: #ba9bc9;
}

.education-row-3-text {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin: 20px;
}

.education-row-3-img {
  float: bottom;
  float: right;
  width: 80%;
}

.education-row-4 {
  background-color: #293032;
  text-align: center;
  color: white;
}

h4 {
  font-size: 70px;
  font-weight: bold;
}

@media (max-width: 900px) {
  h4 {
    font-size: 30px;
    font-weight: bold;
  }
}

.bibliography {
  font-family: "Montserrat", sans-serif, bold;
  font-size: 10px;
  margin: 25px;
}

/* --- ACSESSIBILITY --- */

.dyslexia {
  font-family: "OpenDyslexic3Regular";
}

.font-size {
  font-size: 150%;
}
