/* ----- NAVIGATION BAR -----*/
.Custom_Website_Logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 15px;
}

header {
  background-color: #293032;
}
li {
  list-style: none;
}
.brand-name {
  color: white;
  font-family: "Signika", sans-serif;
  font-weight: bold;
}

.pages {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-branding {
  font-size: 2rem;
}
.nav-menu {
  display: flex;
  align-items: right;
  gap: 60px;
  justify-content: right;
  margin-right: 50px;
}
.nav-link {
  transition: 0.3s ease-out;
  color: #fff;
}
.nav-link:hover {
  color: rgb(149, 151, 151);
}
.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 50px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-bottom: 20px;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

.Custom_Accessibility-Icon {
  width: 30px;
  height: 30px;
}

.acsessibility-btn {
  background-color: #00bf63;
  margin-top: 10px;
  border-radius: 80px;
}

.acsessibility-btn:hover {
  background-color: #00bf63;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
/* -------------- */

/* FOOTER */

.footer{
  background-color: #545454;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  width: 100%;
  color: #fff;
  padding: 0px;
}

.footer-logo {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: 0px;
  padding-right: 0px;
  clear: right;
}

.footer-center-col{
  text-align: center;
}

.footer-contacts{
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.footer-contacts:hover{
  color: #e0dddd;
  text-decoration: none;
}

.footer-contact-list{
  margin-top: 10px;
}

/* -------------- */

/*  PARALEX HERO BANNER */

.hero-banner{
  width: 100%;
  height: 100%;
  margin-top: 98px;
  margin-bottom: 10px;
}
  
/* -------------- */

/* HOME PAGE */

.colum-home-1{
  border-style: dotted;
  border-width: 10px;
  border-top: #02A0E0;
  margin: 5px;
  margin-top: 30px;
  padding: 10px;
  border-right: #02A0E0;
  border-color: #02A0E0;
}

.colum-home-1-text{
  text-align: left;
  margin: 10px;
}

.colum-home-1-text-font{
  font-family: "Montserrat", sans-serif;
}

.home-img1{
  width: 300px;
  height: 300px;
  float: right;
  margin: 5px;
}




.dyslexia {
  font-family: "OpenDyslexic3Regular";
}

.font-size {
  font-size: 150%;
}