{% extends "layout.html" %} 
{% block title %}Contact{% endblock %} {%block page%}
{{ super() }}
<style>
  .page-active-contact {
    text-decoration: underline #02a0e0 3px;
    text-underline-offset: 10px;
  }
</style>
{% endblock %} {% block content %}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h>Contact</h>

<br />
<br />
<br />

<h1>hello world, this is from the template</h1>

<br />
<br />
<br />
<h1>hello world, this is from the template</h1>

<br />
<br />
<br />
<h1>hello world, this is from the template</h1>

<br />
<br />
<br />
<h1>hello world, this is from the template</h1>

<br />
<br />
<br />
<h1>hello world, this is from the template</h1>

<br />
<br />
<br />

{% endblock %}

{% block footer %}
somthing new
{% endblock %}
