{% extends "layout.html" %} 
{% block title %}Contact{% endblock %} {%block page%}
{{ super() }}
<style>
  .page-active-contact {
    text-decoration: underline #02a0e0 3px;
    text-underline-offset: 10px;
  }
</style>
{% endblock %} 
{% block hero %}
<img class="hero-banner" src="/static/images/hero-banners/contact-banner.png" alt="hero-banner">
{% endblock %}
{% block content %}

<div class="container text-center">
  <div class="row">
    <div class="col colum-contact-1">
      <h1 id="h1-3" class="header-background-1 contact-header-one-font">Contact</h1>
      <img class="contact-img1" src="/static/images/contact1.png" alt="sourced from : canva">

      <p id="contact-text-one" class="colum-contact-1-text colum-contact-1-text-font">
        <a href="#" class="contact-page-list">
          <i class="bi bi-envelope-at-fill contact-icons"></i>
          Email
        </a>
        <br />
        <a href="#" class="contact-page-list">
          <i class="bi bi-telephone-fill contact-icons"></i>
          Phone
        </a>
        <br />
        <a href="#" class="contact-page-list">
          <i class="bi bi-instagram contact-icons"></i>
          Instagram
        </a>
        <br />
        <a href="#" class="contact-page-list">
          <i class="bi bi-facebook contact-icons"></i>
          Facebook
        </a>
        <br />
        <a href="#" class="contact-page-list">
          <i class="bi bi-twitter contact-icons"></i>
          Twitter
        </a>
      </p>
    </div>
  </div>
  </div>
</div>

<br> <br> <br>

<!-- contact form -->
  <div class="row">
    <div class="col-4 contact-form-1">
      <p class="contact-form-header-left">EMAIL US DIRECTLY</p>
      <img class="contact-arrow-img" src="/static/images/contact-arrow.png" alt="arrow">
    </div>
    <div class="col-4 contact-form-image">
    </div>
    <div class="col-4 contact-form-2">
      <br><br>
      <h2 class="contact-form-header">YOUR EMAIL</h2>
      <input>
      <h2 class="contact-form-header">MESSAGE</h2>
      <textarea></textarea> 
      <button type="submit" class="btn submit-btn">Submit</button>
    </div>
  </div>
{% endblock %}

{% block footer %}
Email marketing, internet chatting, 24 hours support, image by vectorjuice on Freepik
{% endblock %}
