{% extends "layout.html" %} 
{% block title %}Contact{% endblock %} {%block page%}
{{ super() }}
<style>
  .page-active-contact {
    text-decoration: underline #02a0e0 3px;
    text-underline-offset: 10px;
  }
</style>
{% endblock %} 
{% block hero %}
<img class="hero-banner" src="/static/images/hero-banners/contact-banner.png" alt="hero-banner">
{% endblock %}
{% block content %}

<div class="container text-center">
  <div class="row">
    <div class="col colum-contact-1">
      <h1 id="h1" class="h1 header-background-1 home-header-one-font">CONTACT</h1>
      <img class="contact-img1" src="/static/images/contact1.png" alt="sourced from : canva">

      <p id="contact-text-one" class="colum-contact-1-text colum-contact-1-text-font">
        <a href="#" class="contact-page-list">
          <i class="bi bi-envelope-at-fill contact-icons"></i>
          internetrealiltyproject@gmail.com
        </a>
        <br />
        <a href="#" class="contact-page-list">
          <i class="bi bi-telephone-fill contact-icons"></i>
          phone number place holder
        </a>
        <br />
        <a href="#" class="contact-page-list">
          <i class="bi bi-instagram contact-icons"></i>
          TheInternetRealityProject_Offical
        </a>
        <br />
        <a href="#" class="contact-page-list">
          <i class="bi bi-facebook contact-icons"></i>
          TheInternetRealityProject_Offical
        </a>
        <br />
        <a href="#" class="contact-page-list">
          <i class="bi bi-twitter contact-icons"></i>
          TheInternetRealityProject_Offical
        </a>
      </p>
    </div>
  </div>
  </div>
</div>

<br> <br> <br>

<!-- contact form -->
<div class="contact-div">
  <div class="contact-form-1-alt d-md-none">
      <p class="contact-form-header-left-alt">EMAIL US DIRECTLY</p>
  </div>
  <div class="row">
    <div class="col contact-form-1">
      <p class="contact-form-header-left">EMAIL US DIRECTLY</p>
      <img class="contact-arrow-img" src="/static/images/contact-arrow.png" alt="arrow">
    </div>
    <div class="col contact-form-image">
    </div>
    <div class="col contact-form-2">

      <!--FORM-->
      <form action="/templates/form.html" method="POST" style="margin:50px" class="needs-validation">
        <div class="mb-3">
          <h2 class="contact-form-header">YOUR EMAIL</h2>
          <input type="email" class="form-control" name="email_adress" id="validationCustom01" required>
        </div>
    
        <div class="mb-3">
          <h2 class="contact-form-header">SUBJECT LINE</h2>
          <input type="text" class="form-control" name="subject_line" id="validationCustom02" required>
        </div>
    
        <div class="mb-3">
          <h2 class="contact-form-header">MESSAGE</h2>
          <textarea type="text" class="form-control" name="your_message" id="validationCustom03" required></textarea>
        </div>
        
        <br>
    
        <button id="contact_submit" type="submit" class="btn contact1-form-btn submit-btn">Submit</button>
      </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
Email marketing, internet chatting, 24 hours support, image by vectorjuice on Freepik
{% endblock %}
