{% extends "layout.html" %} {% block title %}Education{% endblock %} {%block
page%} {{ super() }}
<style>
  .page-active-education {
    text-decoration: underline #02a0e0 3px;
    text-underline-offset: 10px;
  }
</style>
{% endblock %} {% block hero %}
<img
  class="hero-banner"
  src="/static/images/hero-banners/education-banner.png"
  alt="hero-banner"
/>
{% endblock %} {% block content %}

<!-- Education section -->
<div class="education-container" id="education-container">
  <div class="row education-row-1">
    <div class="col education-row-1-text">
      <br />
      <br />
      <h3 class="h3-1">WHAT IS FAKE NEWS?</h3>
      <p>
        What is Fake News? Well, in its most basic form, Fake News is
        essentially just news that is untruthful. Often Fake News is said to exist within the much larger
        ecosystem of Misinformation and Disinformation. The
        University of Michigan and University of Oregon both define misinformation as
        <i
          >&apos;false or inaccurate information that is mistakenly or
          inadvertently created or spread; the intent is not to deceive&apos;</i
        >
        and disinformation as
        <i
          >&apos;false information that is deliberately created and spread in
          order to influence public opinion or obscure the truth&apos;</i
        >. <br /><br />
        Given that Fake News is so multifaceted there have been attempts made to distil this hugely
        complicated phenomenon into a series of main types. Notably, Journalist
        Claire Wardle of First Draft declares the main strains of fake news are as
        follows. Satire or Parody - Fake News that has no intention to cause harm, but
        has potential to fool. Misleading content - Fake News that uses misleading information to frame
        in issue or individual. Imposter content - Fake News that seeks to impersonate genuine trusted
        sources of news. Fabricated content - Fake News that uses new content that is 100% false,
        designed to deceive and do harm. False connection - Fake News where headlines, visuals, or captions do
        not support the content. False content - Fake News when genuine content is shared with false
        contextual information. Manipulated content - Fake News when genuine information or imagery is
        manipulated to deceive.
      </p>
      <br />
      <br />
    </div>
    <div class="col">
      <img
        class="education-row-1-img"
        src="/static/images/education-img/education1.png"
        alt="education-image"
      />
    </div>
  </div>
  <div class="row education-row-2">
    <div class="col">
      <img
        class="education-row-2-img"
        src="/static/images/education-img/education2.png"
        alt="education-image"
      />
    </div>
    <div class="col education-row-2-text">
      <br />
      <br />
      <h3 class="h3-2">WHY DOES FAKE NEWS HAPPEN?</h3>
      <p>
        Fake News has always had a place amoungst humanity. However the term itself was only introduced
        around the 1890&apos;s. However it wasn&apos;t until the 21st century
        that the term Fake News began to have any significant relevance. The
        phrase itself was popularised by Journalist Craig Silverman in the early
        2000&apos;s and 2010&apos;s with the rise of political polorisation popularisation becoming a pressing concern.
        <br /><br />
        From 2016 (With the election campaign of former US President Donald Trump) the term has become a part of our
        everyday language.
        <br /><br />
        As for why this issue exists, there are a number of
        reasons. For one it is simply unfortunate human nature to share stories.
        And a fake story that is more captivating and entertaining than the
        truth is likely to reach a larger audience faster. But in that there are
        also more sinister motivations for fake news. An article by The
        University of Michigan highlights the use of fake news for a political
        agenda, as an influx of the content is proven to both sway opinions and
        distract from more pressing issues. Financial gain is also highlighted
        to be another factor. Especially as the output of fake news is an opportunity to
        generate clicks and therefore advertising income. In short Fake News is
        an industry that generates significant wealth. Welth that those in need
        have no qualms about claiming. Then of course, the university brings up
        well meaning individuals who acidentely facilitate fake news. Such as satirical
        news outlets that have the potential to be misinterpreted.
        information.
        <br /><br />
        Social media doesn&apos;t help this phenomenon either. On social media
        people don't bother to check for credibility. The goal of social media
        users is instant gratification. And so Fake News easily slips
        in, influencing the opinions of users who have forgone conscious
        consumption of media in favour of rapid fire entertainment.
      </p>
      <br />
      <br />
    </div>
  </div>
  <div class="row education-row-3">
    <div class="col education-row-3-text">
      <br />
      <br />
      <h3 class="h3-3">WHO IS RESPONSIBLE?</h3>
      <p>
        When it comes to such a complex issue as this there are undoubtedly
        going to be a significant number of various opinions about who should be
        held responsible. Most notably the two schools of thought are as
        follows. Those who believe that the digital technologies industry should
        be held solely acoutnable for Fake News. And those who believe that it
        is the responsibility of the general public alone to educate themselves
        and remain vigilant about Fake News. Both opinions make strong arguments
        and present valid potential solutions to the issue of Fake News.
        <br /><br />
        As for my personal opinion, I would suggest that when it comes to such a
        complex and multifaceted problem such as Fake News it is not in our
        interest to lay blame at any one party's feet but rather take a
        collaborative approach to addressing this issue.
        <br /><br />
        My suggestion would be that society takes points from both perspectives.
        <br /><br />
        We should hold social media platforms and the digital technologies
        industry accountable and responsible for mitigating the risks and output
        of Fake News. I would suggest government intervention, or a global
        agreement of some kind that holds platforms to certain standards of
        policing their content. Whilst also encouraging the public to continue
        to put pressure on platforms to unite and begin the process of
        collaborative self regulation.
        <br /><br />
        That being said I think it is also important that we the public should
        not dissociate ourselves from responsibility towards this issue. To
        place blame elsewhere, or disconnect ourselves from this issue is only
        going to lead to inaction. We need to take it upon ourselves to be
        better educated and make conscious decisions when sharing or consuming
        information/news. It should be at the forefront of all our minds to
        ensure the validity of our news sources and to refrain from the spread
        of harmful falsified or manipulated content. In taking into account both
        perspectives concerning Fake News I believe we stand a far greater
        chance of making real headway with this issue.
      </p>
      <br />
      <br />
    </div>
    <div class="col">
      <img
        class="education-row-3-img"
        src="/static/images/education-img/education3.png"
        alt="education-image"
      />
    </div>
  </div>
  <div class="row education-row-4">
    <div class="col education-row-4-text">
      <br />
      <br />
      <h4>HOW TO IDENTIFY FAKE NEWS</h4>
      <br />
      <br />
    </div>
  </div>
</div>

<!-- Education flash cards -->
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="5"
      aria-label="Slide 6"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="6"
      aria-label="Slide 7"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="7"
      aria-label="Slide 8"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/static/images/flash-cards/flash-card-1.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/images/flash-cards/flash-card-2.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/images/flash-cards/flash-card-3.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/images/flash-cards/flash-card-4.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/images/flash-cards/flash-card-5.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/images/flash-cards/flash-card-6.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/images/flash-cards/flash-card-7.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/images/flash-cards/flash-card-8.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>

<div>
  <p class="bibliography">
    BIBLIOGRAPHY:
    <br /><br />
    Chaffee, I. (2016, December 15). Who&apos;s to blame for fake news and what
    can be done about it? USC News.
    https://news.usc.edu/113738/whos-to-blame-for-fake-news-and-what-can-be-done-about-it/
    <br /><br />
    Culliford, E. (2021, January 12). Online misinformation that led to Capitol
    siege is “radicalization,” say researchers. Reuters.
    https://www.reuters.com/article/us-misinformation-socialmedia-idUSKBN29H2HM
    <br /><br />
    Cusumano, M. A., Gawer, A., & Yoffie, D. B. (2021, January 15). Social Media
    Companies Should Self-Regulate. Now. Harvard Business Review.
    https://hbr.org/2021/01/social-media-companies-should-self-regulate-now
    <br /><br />
    Dirga, N. (2022, March 3). Yesterday was New Zealand&apos;s January 6. What
    happens now? RNZ.
    https://www.rnz.co.nz/news/on-the-inside/462681/yesterday-was-new-zealand-s-january-6-what-happens-now
    <br /><br />
    Hall, K. (2022, April 3). Misinformation: How social media turned protest
    into a problem. 1 News.
    https://www.1news.co.nz/2022/04/03/misinformation-how-social-media-turned-protest-into-a-problem/
    <br /><br />
    Maxson, B. (2022, July 22). Fake News and Information Literacy: What is Fake
    News? Researchguides.uoregon.edu.
    https://researchguides.uoregon.edu/fakenews/issues/defining
    <br /><br />
    Munn, L. (2021). More than a mob: Parler as preparatory media for the U.S.
    Capitol storming. First Monday, 26(3).
    https://doi.org/10.5210/fm.v26i3.11574
    <br /><br />
    Orlowski, J. (Director). (2020, September 9). The Social Dilemma [Film].
    Netflix.
    <br /><br />
    Owen, T. (2022, January 6). From the Beginnings of Fake News to the Capitol
    Riots. Centre for International Governance Innovation.
    https://www.cigionline.org/big-tech/from-the-beginnings-of-fake-news-to-the-capitol-riots/
    <br /><br />
    Posetti, J., & Matthews, A. (2018). A short guide to the history of “fake
    news” and disinformation A LEARNING MODULE FOR JOURNALISTS AND JOURNALISM
    EDUCATORS. International Center for Journalists.
    https://doi.org/10.1207/S15327728JMME1502_3
    <br /><br />
    Potter, C. (2022, June 6). Anti-Trans Bills Are Driving a New Moral Panic.
    Public Seminar.
    https://publicseminar.org/essays/anti-trans-bills-are-driving-a-new-moral-panic/
    <br /><br />
    Rout, J., Appleton, E., Chan, M., Brunton, C., Talbot, H., & Alali, N.
    (2021). THE EDGE OF THE INFODEMIC Challenging Misinformation in Aotearoa
    Challenging Misinformation in Aotearoa THE EDGE OF THE INFODEMIC Challenging
    Misinformation in Aotearoa The Edge of the Infodemic: Challenging
    Misinformation in Aotearoa.
    https://www.classificationoffice.govt.nz/media/documents/The_Edge_of_the_Infodemic.pdf
    <br /><br />
    Subramanian, S. (2017, February 15). The Macedonian Teens Who Mastered Fake
    News. WIRED; WIRED. https://www.wired.com/2017/02/veles-macedonia-fake-news/
    <br /><br />
    Taylor, J. (2021, February 1). Opinion | Social media sites need to monitor
    fake news. The Daily Iowan.
    https://dailyiowan.com/2021/02/01/opinion-social-media-sites-need-to-monitor-fake-news/
    <br /><br />
    University of Michigan. (2018, August 4). “Fake News,” Lies and Propaganda:
    How to Sort Fact from Fiction: What is “Fake News”? Umich.edu.
    https://guides.lib.umich.edu/fakenewsvan
    <br /><br />
    Loon, B. (2017, March 8). Why We Should Hold Ourselves Responsible for Fake
    News. Luc.edu; LUC.
    https://www.luc.edu/digitalethics/researchinitiatives/essays/archive/2017/whyweshouldholdourselvesresponsibleforfakenews/
    <br /><br />
    Walsh, D. (2021). Neutral Isn&apos;t Neutral: An Analysis of Misinformation
    and Neutral Isn&apos;t Neutral: An Analysis of Misinformation and Sentiment
    in the Wake of the Capitol Riots Sentiment in the Wake of the Capitol Riots.
    https://researchrepository.wvu.edu/cgi/viewcontent.cgi?article=9098&context=etd
    <br /><br />
    Wardle, C. (2017, February 16). Fake news. It&apos;s complicated. First
    Draft. https://firstdraftnews.org/articles/fake-news-complicated/
  </p>
</div>

{% endblock %} {% block footer %} {% endblock %}
