{% extends "layout.html" %} {% block title %}Game{% endblock %} {%block page%}
{{ super() }}
<style>
  .page-active-game {
    text-decoration: underline #02a0e0 3px;
    text-underline-offset: 10px;
  }
</style>
{% endblock %} {% block hero %}
<img
  class="hero-banner"
  src="/static/images/hero-banners/game-banner.png"
  alt="hero-banner"
/>
{% endblock %} {% block content %}

<!-- start Quiz button -->
<div class="start_btn"><button>Start Quiz</button></div>

<!-- Info Box -->
<div class="info_box">
  <div class="info-title"><span>Some Rules of this Quiz</span></div>
  <div class="info-list">
    <div class="info">
      1. You will have only <span>2 minutes</span> per each question.
    </div>
    <div class="info">2. Once you select your answer, it can't be undone.</div>
    <div class="info">3. You can't select any option once time goes off.</div>
    <div class="info">
      4. You can't exit from the Quiz while you're playing.
    </div>
    <div class="info">
      5. You'll get points on the basis of your correct answers.
    </div>
    <div class="info">
      6. <span>HINT: </span>Look out for indicators of fake news like
      photoshopted images, sensationalising headlines, exsessive adds, or use a
      third party fack cheaker on the organisation.
    </div>
  </div>
  <div class="buttons">
    <button class="quit">Exit Quiz</button>
    <button class="restart">Continue</button>
  </div>
</div>

<!-- Quiz Box -->
<div class="quiz_box">
  <header>
    <div class="title">The Internet Reality Project</div>
    <audio id="audio">
      <source
        src="/static/Purple Planet Music - Thinking Ahead (1_16) 120bpm.mp3"
        type="audio/mpeg"
      />
    </audio>
    <audio id="audio2">
      <source
        src="/static/Correct-answer.mp3"
        type="audio/mpeg"
      />
    </audio>
    <div class="row end-row">
      <div class="timer col">
        <div class="time_left_txt">
          <i class="bi bi-stopwatch" ></i>
        </div>
        <div class="timer_sec">60</div>
      </div>
      <div class="col">
      <button
        id="player"
        type="button"
        class="audio-btn"
        onclick="javascript:toggleSound();"
        class="button_icon"
      >
        <div id="audio_icon"></div>
      </button>
      </div>
    </div class="row">
  </header>
  <section>
    <div class="que_text">
      <!--question from JavaScript -->
      <div class="game_img"></div>
    </div>
    <div class="option_list">
      <!--options from JavaScript -->
    </div>
  </section>

  <!-- footer of Quiz Box -->
  <footer>
    <div class="total_que">
      <!--Question Count Number from JavaScript -->
    </div>
    <button class="next_btn">Next</button>
  </footer>
</div>

<!-- Result Box -->
<div class="result_box">
  <div class="icon">
    <i class="fas fa-crown"></i>
  </div>
  <div class="complete_text">You've completed the Quiz!</div>
  <div class="score_text">
    <!-- Score Result from JavaScript -->
  </div>
  <div class="buttons">
    <button class="restart">Replay Quiz</button>
    <button class="quit">Quit Quiz</button>
  </div>
</div>

<div class="break"></div>

{% endblock %} {% block footer %} audio sourced from purple planet music {%
endblock %}
