{% extends "layout.html" %} 
{% block title %}Home{% endblock %} 
{%block page%}
{{ super() }}
<style type="text/css">
  .page-active-index {
    text-decoration: underline #02a0e0 3px;
    text-underline-offset: 10px;
  }
</style>
{% endblock %} 
{% block hero %}
<img class="hero-banner parallax" src="/static/images/hero banners/index-banner.png" alt="hero-banner">
{% endblock %}
{% block content %}

<br><br><br><br>

<p>hello</p>
<br><br><br><br>

<p>hello</p>
<br><br><br><br>

<p>hello</p>
<br><br><br><br>

<p>hello</p>

<br><br><br><br>

<p>hello</p>
<br><br><br><br>

<p>hello</p>
<br><br><br><br>

<p>hello</p>


<div class="container text-center">
  <div class="row">
    <div class="col colum-home-1">Column</div>
  </div>
  <div class="row">
    <div class="col">Column</div>
  </div>
</div>

{% endblock %}

{% block footer %}
text test
{% endblock %}
