{% extends "layout.html" %} 
{% block title %}Home{% endblock %} 
{%block page%}
{{ super() }}
<style type="text/css">
  .page-active-index {
    text-decoration: underline #02a0e0 3px;
    text-underline-offset: 10px;
  }
</style>
{% endblock %} 
{% block hero %}
  <img class="hero-banner" src="/static/images/hero-banners/index-banner.png">
{% endblock %}
{% block content %}

<div class="container text-center">
  <div class="row">
    <div class="col colum-home-1">
      <h1 id="h1" class="header-background-1 home-header-one-font">ABOUT</h1>
      <img class="home-img1" src="/static/images/home-page-img/home1.png" alt="sourced from : canva">
      <p id="home-text-one" class="colum-home-1-text colum-home-1-text-font">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae justo nunc. Praesent et lectus elit. Vestibulum pharetra dolor dapibus, viverra metus in, auctor velit. Sed at facilisis justo. Cras ultricies libero placerat massa malesuada, dignissim venenatis magna auctor. Sed scelerisque augue consequat justo dapibus pellentesque. Pellentesque quis velit non ligula porttitor gravida. Donec volutpat tortor viverra porta ornare. Quisque consequat ligula sit amet purus congue, quis egestas velit mattis.
      Ut eu varius justo. Maecenas eu sagittis nibh, vel ullamcorper augue. Donec viverra quis diam cursus porta. Suspendisse vulputate vestibulum aliquet. Morbi scelerisque enim ac suscipit fringilla. Nulla at imperdiet risus, nec viverra turpis. Aenean ut ullamcorper lorem, et volutpat mi. Ut mattis rhoncus tempus. Vestibulum iaculis ipsum eget ante lobortis venenatis. Nulla hendrerit mauris in nisl posuere, sit amet fringilla eros dapibus. Vestibulum in sem tristique lectus fermentum fringilla et ac tortor. Praesent lobortis erat nisl, eu vulputate sapien dapibus sit amet. Morbi imperdiet porta est, ut efficitur elit blandit eget. In vitae dignissim metus. Vestibulum ante arcu, sollicitudin a ullamcorper eu, rhoncus in felis. Nullam ultricies auctor quam id euismod.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br> <br>
      <h1 id="h1-2" class="h1-2 header-two header-background-2 home-header-two-font">OUR MISSION</h1>
      <div class="section-text">
        <img class="home-img2" src="/static/images/home-page-img/home2.png" alt="sourced from : canva">
      <p id="home-text-two" class="colum-home-2-text colum-home-2-text-font">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae justo nunc. Praesent et lectus elit. Vestibulum pharetra dolor dapibus, viverra metus in, auctor velit. Sed at facilisis justo. Cras ultricies libero placerat massa malesuada, dignissim venenatis magna auctor. Sed scelerisque augue consequat justo dapibus pellentesque. Pellentesque quis velit non ligula porttitor gravida. Donec volutpat tortor viverra porta ornare. Quisque consequat ligula sit amet purus congue, quis egestas velit mattis.
      Ut eu varius justo. Maecenas eu sagittis nibh, vel ullamcorper augue. Donec viverra quis diam cursus porta. Suspendisse vulputate vestibulum aliquet. Morbi scelerisque enim ac suscipit fringilla. Nulla at imperdiet risus, nec viverra turpis. Aenean ut ullamcorper lorem, et volutpat mi. Ut mattis rhoncus tempus. Vestibulum iaculis ipsum eget ante lobortis venenatis. Nulla hendrerit mauris in nisl posuere, sit amet fringilla eros dapibus. Vestibulum in sem tristique lectus fermentum fringilla et ac tortor. Praesent lobortis erat nisl, eu vulputate sapien dapibus sit amet. Morbi imperdiet porta est, ut efficitur elit blandit eget. In vitae dignissim metus. Vestibulum ante arcu, sollicitudin a ullamcorper eu, rhoncus in felis. Nullam ultricies auctor quam id euismod.
      </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
Connected concept illustration, image by storyset on Freepik
{% endblock %}

