/* NOTE : this is my stylesheet with all of my css and ustom css that overrides the applicable bootstrap functions
throughout all website pages */

/* ---------------------------------------------------- */ 

/* ----- ACSESSIBILITY CONTROLS ----- */

:root,
/* class toggle dyslexia font off */
:root.fontRegular {
  --font-family: 'Montserrat', sans-serif;
}

/* class toggle dyslexia font on */
:root.fontDyslexia {
  --font-family: 'OpenDyslexic3Regular';
}

/* class toggle font size off */
:root.sizeRegular {
  --font-size: 100%;
  --font--size-1: 2rem;
  --font--size-2: 60px;
  --font--size-3: 50px;
  --font--size-4: 30px;
}

/* class toggle font size on */
:root.sizeIncreased {
  --font-size: 150%;
  --font--size-1: 4rem;
  --font--size-2: 90px;
  --font--size-3: 75;
  --font--size-4: 45px;
}

.form-switch {
  display: flex;
  justify-content: center;
}

/* set initial acsessibilty control toggle status */

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

/* ---------------------------------------------------- */ 

/* ----- NAVIGATION BAR -----*/

.Custom_Website_Logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 15px;
}

header {
  background-color: #293032;
}

li {
  list-style: none;
}
.brand-name {
  color: white;
  font-family: "Signika", sans-serif;
  font-weight: bold;
}

.pages {
  margin-top: 15px;
}

.navbar {
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size: var(--font--size-1);
}

.nav-menu {
  display: flex;
  align-items: right;
  gap: 60px;
  justify-content: right;
  margin-right: 50px;
}

.nav-link {
  transition: 0.3s ease-out;
  color: #fff;
}

.nav-link:hover {
  color: rgb(149, 151, 151);
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 50px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

/* set new nav bar configeration with hamburger menu when screen is minimised */
@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-bottom: 20px;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

.Custom_Accessibility-Icon {
  width: 30px;
  height: 30px;
}

.acsessibility-btn {
  background-color: #00bf63;
  margin-top: 10px;
  border-radius: 80px;
}

.acsessibility-btn:hover {
  background-color: #00bf63;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

/* ---------------------------------------------------- */ 

/* ---- FOOTER ----  */

.footer {
  background-color: #545454;
  font-size: 10px;
  margin: 0px;
  width: 100%;
  color: #fff;
  padding: 0px;
}

.footer-logo {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: 0px;
  padding-right: 0px;
  float: right;
}

.footer-center-col {
  text-align: center;
}

.footer-contacts {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.footer-contacts:hover {
  color: #e0dddd;
  text-decoration: none;
}

.footer-contact-list {
  text-align: left;
  float: left;
  margin-top: 10px;
}

/* ---------------------------------------------------- */ 

/*  ---- PARALEX HERO BANNER ---- */

.hero-banner {
  width: 100%;
  height: 100%;
  margin-top: 98px;
  margin-bottom: 10px;
}

.hero-banner-index{
  margin-top: 110px;
}

/* ---------------------------------------------------- */ 

/* ---- HOME PAGE ---- */

.colum-home-1 {
  border-style: dotted;
  border-width: 10px;
  border-top: #02a0e0;
  margin: 5px;
  padding: 10px;
  margin-top: 30px;
  border-right: #02a0e0;
  border-color: #02a0e0;
}

.colum-home-1-text {
  text-align: left;
  margin: 10px;
}

.home-img1 {
  width: 300px;
  height: 300px;
  float: right;
  margin: 5px;
}

.h1 {
  color: #0269ad;
  text-align: left;
  font-weight: bold;
  font-size: var(--font--size-2);
}

.h1-one {
  text-align: left;
}

.header-one {
  margin-left: 5px;
  margin-bottom: 70px;
}

/* remove border graphics when screen minimised */
@media (max-width: 900px) {
  .colum-home-1 {
    border-style: none;
  }
}

/* header graphics */
.header-background-1 {
  background-image: url(/static/images/header-background.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px;
}

.header-background-2 {
  background-image: url(/static/images/header-background.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px;
}
/* --------------- */

.h1-2 {
  text-align: right;
}

.header-two {
  margin-right: 5px;
}

.colum-home-2-text {
  text-align: right;
  margin: 10px;
}

.home-img2 {
  width: 300px;
  height: 300px;
  float: left;
  margin: 5px;
}

.section-text {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* ---------------------------------------------------- */ 

/* --- CONTACT --- */

.colum-contact-1 {
  border-style: dotted;
  border-width: 10px;
  margin: 5px;
  padding: 10px;
  margin-top: 30px;
  border-right: #02a0e0;
  border-color: #02a0e0;
  border-top: #fff;
  border-bottom: #fff;
}

/* remove border graphics when screen minimised */
@media (max-width: 900px) {
  .colum-contact-1 {
    border-style: none;
  }
}

.colum-contact-1-text {
  text-align: left;
  margin: 10px;
}

.contact-img1 {
  width: 450px;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20spx;
}

.contact-header-one-font {
  font-weight: bold;
}

.contact-page-list {
  color: #000000;
  text-decoration: none;
}

.contact-page-list:hover {
  color: #262626;
}

.contact-icons {
  color: #02a0e0;
}

.contact-form-1 {
  background-color: #293032;
}

.contact-form-header-left-alt {
  color: #e0dddd;
  font-family: "Montserrat", sans-serif, bold;
  font-weight: bold;
  float: center;
  text-align: center;
  font-size: var(--font--size-3);
  margin-bottom: 5px;
  margin-top: 10px;
}

@media (max-width: 900px) {
  .contact-form-1{
    display: none!important;
  }
  .contact-form-1-alt{
    background-color: #293032;
  }
  .contact-div{
    background-color: #293032 ;
  }
  .contact-form-2{
    justify-content: end;
  }
}

.contact-form-2 {
  background-color: #02a0e0;
}

.contact-form-header {
  float: right;
  color: #03568d;
  font-family: "Montserrat", sans-serif, bold;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 30%;
  text-align: right;
}

input {
  float: right;
  margin-right: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  margin-left: 30%;
  width: 300px;
}

textarea {
  float: right;
  margin-right: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  border: none;
  width: 300px;
}

.submit-btn {
  background-color: #7ed957;
  color: #255e0c;
  font-family: "Montserrat", sans-serif;
  border-color: none;
  margin-left: 30%;
  float: right;
  margin-right: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: black;
}

/* resize input boxes when screen minimised */
@media (max-width: 900px) {
  textarea {
    width: 150px;
  }
  input {
    width: 150px;
  }
}

.submit-btn:hover {
  background-color: #52a52e;
}

.contact-form-image {
  background-image: url(/static/images/contact-form-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #02a0e0;
}

.contact-form-header-left {
  color: #e0dddd;
  font-family: "Montserrat", sans-serif, bold;
  font-weight: bold;
  float: left;
  margin-left: 10px;
  font-size: 50px;
  margin-top: 50px;
}

@media (max-width: 900px) {
  .contact-form-header-left {
    font-size: 20px;
  }
}

.contact-arrow-img {
  width: 50%;
  float: right;
}


.input1{
  padding: 5px;
}

/* --- CONTACT FORM --- */

#email-err{
  color: red;
  display: none;
}

#subject-err{
  color: red;
  display: none;
}

#message-err{
  color: red;
  display: none;
}

.text-warning {
  color: #fb8500;
  margin-top: 20px;
  text-align: right;
}
.text-danger {
  color: #d90429;
  margin-top: 20px;
  text-align: right;
}
.text-normal {
  color: black;
  margin-top: 20px;
  text-align: right;
}

/* ---------------------------------------------------- */ 

/* --- EDUCATION PAGE --- */

.h3-1 {
  color: #0269ad;
  font-weight: bold;
  font-size: var(--font--size-4);
}

.h3-2 {
  color: #03568d;
  font-weight: bold;
  font-size: var(--font--size-4);
}

.h3-3 {
  color: #4b086b;
  font-weight: bold;
  font-size: var(--font--size-4);
}

.education-row-1 {
  background-color: white;
}

.education-row-1-text {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin: 20px;
}

.education-row-1-img {
  float: bottom;
  float: right;
  width: 80%;
  margin-right: 20px;
}

.education-row-2 {
  background-color: #03befa;
}

.education-row-2-text {
  text-align: right;
  margin-right: 20px;
  margin-left: 20px;
  margin: 20px;
}

.education-row-2-img {
  float: bottom;
  float: left;
  width: 80%;
}

.education-row-3 {
  background-color: #ba9bc9;
}

.education-row-3-text {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin: 20px;
}

.education-row-3-img {
  float: bottom;
  float: right;
  width: 80%;
}

.education-row-4 {
  background-color: #293032;
  text-align: center;
  color: white;
}

h4 {
  font-size: 70px;
  font-weight: bold;
}

@media (max-width: 900px) {
  h4 {
    font-size: 30px;
    font-weight: bold;
  }
}

.buttonNext{
  margin: 0;
  position: absolute;
  top: 92%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
}

.buttonPrev{
  margin: 0;
  position: absolute;
  top: 92%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
}

.buttonNext:hover,
.buttonPrev:hover{
  color: #23903c;
}

.bi-arrow-left-square-fill,
.bi-arrow-right-square-fill{
  font-size: 25px;
}

.bibliography {
  font-size: 10px;
  margin: 25px;
}

/* ---------------------------------------------------- */ 

/* ---- GAME ---- */
.break{
  margin-bottom: 1100px;
}

@media (max-width: 900px) {
  .break{
    margin-bottom: 700px;
  }
}

::selection{
    color: #fff;
    background: #007bff;
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start_btn,
.info_box,
.result_box{
    top: 100%;
}


.quiz_box{
    top: 120%;
}

@media (max-width: 900px) {
.info_box,
.result_box{
    top: 70%;
}
}

@media (max-width: 900px) {
  .quiz_box{
      top: 80%;
  }
  }

@media (max-width: 900px) {
  .start_btn{
    top: 60%;
}
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 30px 60px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.info_box{
    width: 90%;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}

.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 90%;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
}

.bi-stopwatch{
  margin-right: 5px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    width: 90%;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: transparent;
}

.quiz-content{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.quiz-content .que_text{
    font-size: 25px;
    font-weight: 600;
}

.quiz-content .option_list{
    padding: 20px 0px;
    display: block;
}

.option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .option_list .option:last-child{
    margin-bottom: 0px;
}

 .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

 .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

 .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

 .option_list .option.disabled{
    pointer-events: none;
}

 .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}

.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #0263ca;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 90%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}

.game-imgs{
  width: 50%;
  height: 50%;
}

.game-links{
  font-size: 20px;
  color: #3d70e8;
  text-decoration: none;
}